*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
}

:root{
  --red: #c6302c;
  --black: #121212;
  --white: #FCFBFC;
  --bg: #fcfcfc;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  background-color: var(--black);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header h3{
  color: var(--white);
  margin-left: 100px;
}

.header .enem{
  background-color: var(--red);
  padding: 3px;
  border-radius: 5px;
  color: var(--white);
}

.header nav{
  margin-right: 100px;
}

.header nav a{
  margin: 0 15px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
}

.header nav a:hover{
  color: var(--red);
}

.header .btn-login{
  font-weight: 600;
  padding: 7px 12px;
  border-radius: 5px;
  background-color: var(--red);
  color: var(--white);
}

.header .btn-login:hover{
  background-color: var(--white);
  color: var(--red);
}

/* Banner Main */
.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 50px;
}

.main-left{
  margin-left: 100px;
}

.main-right{
  margin-right: 100px;
}

.main-left h1{
  font-size: 45px;
  margin-bottom: 20px;
}

.main-left .btn-dados{
  text-decoration: none;
  background-color: var(--red);
  color: var(--white);
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
}

.main-left .btn-dados:hover{
  background-color: var(--black);
}

.main-right img{
  width: 400px;
}

/* About Section */
.about{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto;
  background-color: var(--bg);
}

.about-left{
  margin-left: 100px;
}

.about-right{
  margin-right: 100px;
}

.about-left h2{
  font-size: 35px;
  color: var(--red);
  margin-bottom: 10px;
}


.about-right img{
  width: 550px;
}

.about-left p{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  width: 450px;
}

.link-dados{
  color: var(--red);
  font-weight: bold;
}

/* Patrocinadores */
.patrocinador{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px auto;
}

.patrocinador h2{
  font-size: 30px;
}

.logos-patrocinadores{
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.logos-patrocinadores img{
  width: 150px;
  object-fit: cover;
  margin: 0 40px;
}

/* Footer */
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #121212;
  color: #fff;
}

.footer p{
  font-size: 14px;
  margin-top: 5px;
}
.footer span{
  margin-top: 30px;
  font-size: 13px;
}